*{
    margin: 0;
    padding: 0;
}

:root {
    --gr: rgb(94, 255, 94);
  }

/* body{


} */

.front-page{
    height: 100vh;
    background-image: url("1.png");
    background-size: cover;

}

.sec-page{
    height: 100vh;
    background-image: url("2.png");
    background-size: cover;

}

/* ::selection {
    color: black;
    background: var(--gr);

  } */